* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}


/* Buatlah styling section top dibawah ini */
.top{
    
    display: grid;
    padding: 20px;
    place-items: center;
}
.top .icon{
    margin-top: 25px;
    font-size: 20px;
}

.icon i{
    padding: 20px;
}

.top h2{
    place-items: center;
    
}

/* Buatlah styling section container dan card dibawah ini */

.card{
    background-color: aliceblue;
    padding: 20%;
    box-shadow:6.5px 6.6px 5.3px rgba(0, 0, 0, 0.016),21.7px 22.1px 17.9px rgba(0, 0, 0, 0.024),97px 99px 80px rgba(0, 0, 0, 0.04)
;

}
.description{
    padding: 20px ;
}
.description p{
    margin-top: 10px;
}
img{
    width: 100%;
}

.container{
    /* padding: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* berdungsi untuk 1 layar berapa kolom secara responsif seperti table pda html */
    gap: 30px;

}






/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive */
@media only screen and (max-width : 480px ){
    .container{
        /* padding: 20px; */
        grid-template-columns: 1fr; /* berdungsi untuk 1 layar berapa kolom secara responsif seperti table pda html */
        
    
    }
    .card{
        width: 100px;
    }
}
@media only screen and (min-width : 480px ) and (max-width:780px){
    .container{
        /* padding: 20px; */
        grid-template-columns: 1fr 1fr; /* berdungsi untuk 1 layar berapa kolom secara responsif seperti table pda html */
        
    
    }
    .card{
        width: 100px;
    }
}
@media only screen and (min-width : 898px ){
    .container{
       width: 898px;
       margin: 0 auto;
    }
}
/* 49:43 / 1:09:42 */