
body {

 margin: 0px;
}


header {
  padding: 10px 16px;
  display: flex;
  background-color: #f3f3f3;
  justify-content: space-between;
}
li {
  display: inline;
  margin-right: 20px;
}
h1{
  text-align: center;
}
section{
  background-color: rgb(255, 255, 255);
  margin: 200px 100px 500px 100px;
  box-shadow: 0 0 10px gray;
}

footer{
  padding: 2px 5px 7px;
  background-color: blue;
  color: white;
  
}
.article{
  margin: 0px;
  padding: 25px;
  width: 95%;
  

}
p{border-bottom: 1px solid black;}

h1,h5{
    text-align: center;
  }
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
#article-list{

}
#logo{

}
