* {margin:0; padding:0;}
.nav {
 margin:auto;
 text-align: center;
 width: 100%;
} 
nav ul {
 background: #53bd84;
 padding: 0 20px;
 list-style: none;
 position: relative;
 display: inline-table;
 width: 100%;
}

nav ul li{
 float:left;
}
.li.li:hover{
 background:#666;
}
nav ul li a{
 display: block;
 padding: 25px;
 color: #fff;
 text-decoration: none;
}



